{
    "Lindsey Stirling": "https://img.discogs.com/mV563OeKH0SK_9oIoU1IdIEPPd4=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3914178-1349900850-1613.jpeg.jpg",
    "Brave Enough": "https://img.discogs.com/_UFoJ_k-W0JehnthOuq875r_7ek=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-8936283-1471815599-1562.jpeg.jpg",
    "Warmer In The Winter (Deluxe Version)": "https://img.discogs.com/GSBuSi2FPtijB-89u3vqsY8IAgE=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-11052129-1537201543-1109.png.jpg",
    "Shatter Me": "https://img.discogs.com/_3WLRJz00FgHM1bJXD_VIliftwk=/fit-in/600x586/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-5673193-1586641990-8024.jpeg.jpg",
}
